@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

h1, h2, h3, h4 {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.steps-list > li {
    padding: 0.15em 0;
}